<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Reorientation Core Group</title>
<style>
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/background-image2.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 68px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
nav ul li:hover{
    background-color: #000;
    width: 100px;
    border-radius: 10px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: rgb(10, 245, 10);
    font-size: 100px;
}
p{
    color: white;
}
button{
    width: 180px;
    font-size: 12px;
    padding: 12px 0;
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
button a{
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bold;
}
.card{
    width: 100px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    margin: 10px 15px;
    transition: transform 0.5s;
}
.card1 {
    background-image: url(images/recycle.jpg);
    background-position: center;
    background-size: cover;
}
.card2 {
    background-image:  url(images/background-image1.jpg);
    background-position: center;
    background-size: cover;
}
.card3 {
    background-image: url(images/sun.jpg);
    background-position: center;
    background-size: cover;
}
.card4 {
    background-image: url(images/save.jpg);
    background-position: center;
    background-size: cover;
}
.card:hover{
    transform: translateY(-10px);
}

</style>
</head>
<body>
    <section class="container">
        <header class="navbar">
            <img src="images/logo.jpg" alt="logo here" class="logo">
            <nav>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="services.html">SERVICES</a></li>
                    <li><a href="about.html">ABOUT US</a></li>
                </ul>
            </nav>
        </header>
        <section class="row">

            <article class="col">
                <h1>Reorientation Core Group</h1>
                <p>"Let's do something better with". The Reorientation Core Group is the associatiion 
                    of high minded Louverturians who have the aim of reorienting the scrap tires in order to
                    reduce their amounts in the Wide World and to reuse them brightly! 
                    <br>
                    We invite you all! To join us in order to save our wolrd together!!
                </p>
                <button><a href="galery.html">Visit Our Gallery</a></button>
            </article>

            <article class="col">
                <section class="card card1">
                    <h3 style="text-decoration: underline">Recycle</h3>
                    <p>We recycle scrap tires!
                    </p>
                </section>
                <section class="card card2">
                    <h3 style="color: white; text-decoration: underline">Reduce</h3>
                    <p>We reduce pollution!!
                    </p>
                </section>
                <section class="card card3">
                    <h3 style="text-decoration: underline; color: white;" >Transform</h3>
                    <p>We transform scrap tires!
                    </p>
                </section>
                <section class="card card4">
                    <h3 style="text-decoration: underline">Save it</h3>
                    <p>Of course, we save the world!
                    </p>
                </section>
            </article>
        </section>
    </section>
</body>
</html>
